.chatbot_overlay {
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.25));
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 140px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.chatbot_overlay img {
    width: 100%;
    height: auto;
}

.chatbot_overlay:hover {
    transform: scale(1.1);
}

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    padding: 20px;
} */

.chat_container {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.3s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.heading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.chat_card {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.chatbot_name {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #fdaf39;
    margin-bottom: 10px;
}

.input_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input_field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send_button {
    background: #fdaf39;
    color: white;
    padding: 7px;
    border-radius: 5px;
    transition: background 0.3s;
    border: none;
}

.send_button:hover {
    background: #ff9900;
}