.heading {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    position: relative;
    padding-bottom: 15px;
}

.heading:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background: linear-gradient(to right, #fdaf39, #fc741a);
    border-radius: 2px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification_container {
    display: flex;
    flex-direction: column;
    width: 600px;
    /* background: #FFF0E2; */
    gap: 16px;
    /* align-items: flex-start; */
    align-items: center;
    /* height: 100vh; */
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    transition: left 0.3s ease-in-out;
    /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); */
}

/* Title for Notification Settings */
.notification_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #272727;
}

/* Notification Item Block */
.notification_item {
    background: #fff0e2;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.notification_item:hover {
    /* background: #fdaf39; */
    /* color: white; */
    transform: scale(1.05);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
}

/* Switch Container */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Toggle switch styling */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 25px;
}

/* Switch circle */
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

/* When checked, move the circle */
input:checked+.slider {
    background-color: #fdaf39;
}

input:checked+.slider:before {
    transform: translateX(24px);
}

/* Animation for smooth transition */
.visible {
    left: 0;
    transition: left 0.3s ease-in-out;
}

.hidden {
    left: -600px;
    transition: left 0.3s ease-in-out;
}