.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    background: #FBDDBF;
    gap: 16px;
    align-items: center;
    height: 100vh;
    position: relative;
    top: 0;
    transition: left 0.3s ease-in-out;
}

.user {
    width: 50px;
    border: 1px solid #272727;
    border-radius: 50%;
}

.user_background {
    background-color: #FFF0E2;
    display: flex;
    width: 300px;
    gap: 20px;
    border-radius: 5px;
    justify-content: center;
    padding: 8px;
    margin-top: 20px;
}

.user_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    font-weight: 600;
    font-size: 20px;
}

.email {
    font-weight: 500;
    font-size: 14px;
}

.inner_container {
    color: #272727;
    font-weight: 600;
    background: #FFF0E2;
    padding: 8px;
    width: 300px;
    align-items: center;
    display: flex;
    font-size: 16px;
    border-radius: 5px;
    gap: 20px;
    transition: all 0.4s ease-in-out;
}

.inner_container.active {
    cursor: pointer;
    background: #fdaf39;
    color: white;
    transition: all 0.4s ease-in-out;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.inner_container:hover {
    cursor: pointer;
    background: #fdaf39;
    color: white;
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.logout_container {
    background: #FDAF39;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.logout_icon {
    width: 30px;
}

.logout {
    font-size: 17px;
    border: none;
    border-radius: 7px;
    background: #FDAF39;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    transition: color 0.2s ease-in-out;
}

.logout_container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 0px rgb(0 0 0 / 40%);

}

.logout_container:hover .logout {
    color: #333;
}

.image {
    width: 30px;
    margin-left: 25px;
}

.visible {
    left: -400px;
}

.hidden {
    left: 0px;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn 0.3s ease-in-out;
}

.modal {
    background: #fff;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    transform: scale(0.9);
    animation: popIn 0.3s ease-in-out forwards;
}

.modal_buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.confirm_btn {
    background-color: #ffb33f;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cancel_btn {
    background-color: #fff0e2;
    color: #333;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.confirm_btn:hover {
    background-color: #ff8c00;
    color: #272727;
    transform: scale(1.05);

    box-shadow: 0 5px 0px rgb(0 0 0 / 40%);
}

.cancel_btn:hover {
    background-color: #f2d1b8;
    transform: scale(1.05);
    box-shadow: 0 5px 0px rgb(0 0 0 / 40%);
}

.confirm_btn:active,
.cancel_btn:active {
    transform: scale(0.95);
    box-shadow: none;
}

@keyframes popIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }

    100% {
        background: rgba(0, 0, 0, 0.5);
    }
}

/* Base container */